@model crousseau2_College_Strike.Models.Assignment

@{
    ViewBag.Title = "Details";
}

<h2>Assignment Details</h2>

<div>
    <h4>Assignment</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.AssignmentName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AssignmentName)
        </dd>

        <dt>
            Member Assigned
        </dt>

        <dd>
            @foreach (var a in Model.Members)
            {
                @a.FullName<br />
            }
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
